<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKxmTSa2UYOrF7BBfZ2eBSNs5G9OuMlLc</string>
	<key>GCM_SENDER_ID</key>
	<string>852614370643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singgidev.absenkuy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>absensi-a641d</string>
	<key>STORAGE_BUCKET</key>
	<string>absensi-a641d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852614370643:ios:c6f6c116dcc6947518fda6</string>
	<key>DATABASE_URL</key>
	<string>https://absensi-a641d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>